@font-face {
  font-family: 'PolySans Trial';
  src: url('/fonts/PolySans-Trial.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* default global background (green 900) */
html, body {
  background-color: #021514;
  /* keep existing text/background-related rules if any */
}